In [2]:
import pandas as pd

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
data = pd.read_csv('C:\\Users\\roman\\Learning\\PYDA13\\git_rep\\PYDA-DZ\\files\\ml-latest\\ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
data[ data['rating'] == 5 ]['movieId'].value_counts().head(10)

318     48762
296     37458
356     32009
260     31385
593     30280
527     30194
2571    30126
858     28893
50      24679
2959    24366
Name: movieId, dtype: int64

In [5]:
data_movies = pd.read_csv('C:\\Users\\roman\\Learning\\PYDA13\\git_rep\\PYDA-DZ\\files\\ml-latest\\movies.csv')
data_movies[ data_movies['movieId'] == 318 ].head()

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
path = 'C:\\Users\\roman\\Learning\\PYDA13\\git_rep\\PYDA-DZ\\test\\power.csv'
data_2 = pd.read_csv(path)
data_2_new = data_2[((data_2['country'] == 'Latvia')|(data_2['country'] == 'Lithuania')|(data_2['country'] == 'Estonia')&\
       ((data_2['category'] == 4)|(data_2['category'] == 12)|(data_2['category'] == 21))&\
       ((data_2['year'] > 2005)&(data_2['year'] < 2010))&\
       (data_2['quantity'] >= 0))]
total = data_2_new['quantity'].sum()

print(total)

56268944.08858503

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [7]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

df2 = pd.read_html(page_url, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')

df2[:5]

[     0       1      2        3       4      5        6       7      8   \
 0  ММВБ   2 952  -0,7%   Nasdaq  10 793  -1,1%  Биткойн  10 948   0,1%
 1   РТС   1 229  -1,2%   S&P500   3 319  -1,1%    Нефть     431   0,2%
 2   Dow  27 657  -0,9%  FTSE100   6 007  -0,7%   Золото   1 953  -0,5%

         9       10    11
 0  USD/RUB  755740  0,1%
 1  EUR/RUB  896250  0,0%
 2  EUR/USD   11859  0,1%  ]